<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>

<header th:replace="fragments/header :: headerFragment"></header>

<div layout:fragment="content"></div>

<footer th:replace="fragments/footer :: footerFragment"></footer>

<!-- d-xl-block : 가장 큰 화면 보이기 / none : 안보이기 -->
<!-- d-lg-block : 두번째 큰 화면 보이기 / none : 안보이기 -->
<!-- 여기서부터 왼쪽 네비버튼 나옴 -->

<!-- d-md-block : 중간 화면 보이기 / none : 안보이기 -->
<!-- d-sm-block : 작은 화면 보이기 / none : 안보이기 -->
<!-- d-block : 핸드폰(가장작은) 화면 보이기 / none : 안보이기 -->

</html>