<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">

  <!-- last footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">사이트소개</a>
              </li>
              <li class="list-inline-item">
                <a href="#">제휴 문의</a>
              </li>
              <li class="list-inline-item">
                <a href="#">이용약관</a>
              </li>
              <li class="list-inline-item">
                <a href="#">개인정보처리방침</a>
              </li>
              <li class="list-inline-item">
                <a href="#">청소년 보호정책</a>
              </li>
              <li class="list-inline-item">
                <a href="#">웹툰 홍보안내</a>
              </li>
              <li class="list-inline-item">
                <a href="#">광고 안내</a>
              </li>
            </ul>
          </nav>

          <div class="copyright-footer">
            <div class="copyright color-text-a">
              <div class="widget-a">
                <div class="w-header-a">
                  <h3 class="w-title-a text-brand fa fa-facebook">(logo) No Lang Toon</h3>
                </div>
                <div class="w-body-a">
                  <p class="w-text-a color-text-a">
                    서울시 종각역 4번 출구 앞 YMCA건물 7층 비트캠프 4강의장 종로사천왕
                  </p>
                </div>
                <div class="w-footer-a">
                  <ul class="list-unstyled">
                    <li class="color-a">
                      <span class="color-text-a">대표 :</span>
                      홍길동
                    </li>
                    <li class="color-a">
                      <span class="color-text-a">Email :</span>
                      contact@example.com
                    </li>
                    <li class="color-a">
                      <span class="color-text-a">전화번호 :</span> +54 356 945234
                    </li>
                  </ul>
                </div>
                <p class="copyright color-text-a">
                  &copy; Copyright
                  <span class="color-a">NoLangToon</span> All Rights Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <!-- <script th:src="@{/lib/jquery/jquery.min.js}"></script> -->
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/popper/popper.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
  <script th:src="@{/lib/scrollreveal/scrollreveal.min.js}"></script>
  <!-- Contact Form JavaScript File -->
  <script th:src="@{/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>
</footer>

</html>